*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  font-family: Roboto Condensed;
  scroll-behavior: smooth;
}

body{
  /*border: 2px solid pink;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#conteudo{
  margin: 0px 200px;
  border:1px solid red;
}

#canvas {
  display: block;
  position: fixed;
  z-index: -1;
}

#cenas{
  color: white;
  margin-top: 100vh;
}

h1{
  color: white;
}


header{
  /*background-color: black;*/
  position: sticky;
  top: 0px;
  padding: 20px 0px;
  background-color: black;
}

.menu{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
}

a{
  color: white;
}

.menu a{
  font-size: 2.5em;
  font-weight: bold;
}

.menu a:hover{
  color: #d01c1f;
}

#sobre{
  display:flex;
  flex-direction: column;
  margin: 30px 0px 0px 0px;
}

#sobre p, #oradores p{
  text-align: left;
  font-size: 1.5em;
  /*background-color: rgba(0,0,0,0.5);*/
  padding:10px 0px;
}


.titulo{
  font-size:2em;
}

#oradores{
  margin: 30px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}

#speakers{
  display:flex;
  flex-direction:column;
}

.orador{
  display:flex;
  flex-direction: column;
  justify-content:center;
  border: 1px solid red;
  padding: 50px 0px 50px 0px;

}

.p1{
  padding: 20px 0px 0px 0px;

}

.p1 h4{
  font-size:2em;
}

.img1{
  width:400px;
  
  height: auto;
}

#contactos{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 0px;
}

#cont{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.infra{
  padding: 20px 0px;
}

.infra p{
  padding:20px 0px;
  font-weight: light;
}

.infra h3{
  font-size:2em;
}

.infra a:hover{
  color:#d01c1f;
}